Cannot install Canon MF657Cdw / MF650C Series (IPP Everywhere)

**Describe the bug**
Trying to add the printer fails with the following error:
`Printer returned invalid data: "attributes-natural-language": Bad naturalLanguage value "en- " - bad characters (RFC 8011 section 5.1.9).`

**To Reproduce**
Steps to reproduce the behavior (on my system):
1. Use CUPS web interface -> *Add Printer*
2. Select *Internet Printing Protocol (ipp)*, click *Continue*
3. Use connection *ipp://prt/ipp/print* (prt points to 192.168.88.xx)
4. Set *Name*, *Description*, *Location* fields, click *Continue* 
5. Select Make *Generic*, click *Add Printer*
6. Select Model *IPP Everywhere TM*, click *Add Printer*
7. ... Encountered `Printer returned invalid data` error

**Expected behavior**
Corresponding PPD is fetched and the printer is installed.

**Actual behavior**
The printer is not installed and the following error is displayed in the CUPS web UI: `Printer returned invalid data: "attributes-natural-language": Bad naturalLanguage value "en- " - bad characters (RFC 8011 section 5.1.9).`

**System Information:**
 - Distro: ArchLinux (Linux kernel 6.14.4)
 - CUPS version: 2.4.12

**Additional context**

* Ootput of `ippfind -ls`
```
ipp://prt.local:631/ipp/print idle accepting-jobs none
Canon MF657Cdw
```
 
* Output of `ipptool -tv ipp://prt/ipp/print get-printer-attributes.test`
```
"/usr/share/cups/ipptool/get-printer-attributes.test":
    Get-Printer-Attributes:
        attributes-charset (charset) = utf-8
        attributes-natural-language (naturalLanguage) = en
        printer-uri (uri) = ipp://prt:631/ipp/print
        requested-attributes (1setOf keyword) = all,media-col-database
    Get printer attributes using get-printer-attributes                  [FAIL]
        RECEIVED: 336817 bytes in response
        status-code = client-error-bad-request ("natural-language-configured": Bad naturalLanguage value "en-  " - bad characters (RFC 8011 section 5.1.9).)
        attributes-charset (charset) = utf-8
        attributes-natural-language (naturalLanguage) = en-  
        printer-uri-supported (1setOf uri) = ipp://prt:631/ipp/print,ipps://prt:443/ipp/print
        uri-security-supported (1setOf keyword) = none,tls
        uri-authentication-supported (1setOf keyword) = none,none
        printer-name (nameWithoutLanguage) = Canon MF657Cdw
        printer-location (textWithoutLanguage) = Luc Desk
        printer-info (textWithoutLanguage) = Canon MF657Cdw
        printer-more-info (uri) = http://prt:80/airprint.html
        printer-make-and-model (textWithoutLanguage) = Canon MF650C Series
        printer-state (enum) = idle
        printer-state-reasons (keyword) = none
        ipp-versions-supported (1setOf keyword) = 2.0,1.1,1.0
        ipp-features-supported (keyword) = airprint-2.1
        operations-supported (1setOf enum) = Print-Job,Validate-Job,Create-Job,Send-Document,Cancel-Job,Get-Job-Attributes,Get-Jobs,Get-Printer-Attributes,Cancel-My-Jobs,Close-Job,Identify-Printer
        charset-configured (charset) = utf-8
        charset-supported (charset) = utf-8
        color-supported (boolean) = true
        compression-supported (keyword) = none
        copies-default (integer) = 1
        copies-supported (rangeOfInteger) = 1-999
        document-format-default (mimeMediaType) = application/octet-stream
        document-format-supported (1setOf mimeMediaType) = application/octet-stream,image/urf,image/pwg-raster,image/jpeg,application/pdf
        generated-natural-language-supported (naturalLanguage) = en-  
        jpeg-features-supported (keyword) = none
        jpeg-k-octets-supported (rangeOfInteger) = 0-51200
        jpeg-x-dimension-supported (rangeOfInteger) = 0-15000
        jpeg-y-dimension-supported (rangeOfInteger) = 1-15000
        media-default (keyword) = iso_a4_210x297mm
        media-supported (1setOf keyword) = iso_a4_210x297mm,jis_b5_182x257mm,iso_a5_148x210mm,na_legal_8.5x14in,na_letter_8.5x11in,na_invoice_5.5x8.5in,na_executive_7.25x10.5in,om_officio_215.9x317.5mm,om_b-officio_215.9x355mm,na_oficio_8.5x13.4in,na_govt-letter_8x10in,na_govt-legal_8x13in,om_a-foolscap_205.7x337.8mm,na_foolscap_8.5x13in,om_indian-legal_215x345mm,na_index-3x5_3x5in,custom_min_76.2x127mm,custom_max_216x355.6mm,na_number-10_4.125x9.5in,na_monarch_3.875x7.5in,iso_c5_162x229mm,iso_dl_110x220mm
        media-bottom-margin-supported (1setOf integer) = 0,500
        media-left-margin-supported (1setOf integer) = 0,500
        media-right-margin-supported (1setOf integer) = 0,500
        media-top-margin-supported (1setOf integer) = 0,500
        multiple-document-jobs-supported (boolean) = false
        natural-language-configured (naturalLanguage) = en-  
        orientation-requested-default (enum) = portrait
        orientation-requested-supported (1setOf enum) = portrait,landscape,reverse-landscape,reverse-portrait,none
        pdl-override-supported (keyword) = attempted
        printer-device-id (textWithoutLanguage) = MFG:Canon;MDL:;CLS:PRINTER;DES:Canon ;CID:CA_XPS_OIP;CMD:LIPSLX,CPCA;PESP:V1;
        printer-icons (1setOf uri) = http://prt:80/en/media/dev_icon_128x128.png,http://prt:80/en/media/dev_icon_512x512.png
        printer-is-accepting-jobs (boolean) = true
        print-quality-default (enum) = normal
        print-quality-supported (1setOf enum) = draft,normal
        printer-resolution-default (resolution) = 300dpi
        printer-resolution-supported (resolution) = 300dpi
        printer-up-time (integer) = 2561
        printer-uuid (uri) = urn:uuid:6d4ff0ce-6b11-11d8-8020-40f8dfc644ac
        queued-job-count (integer) = 0
        urf-supported (1setOf keyword) = ADOBERGB24,CP255,DM1,PQ4,RS300,SRGB24,W8-16,FN3,IS1-4,OB10-40,V1.5
        pdf-versions-supported (keyword) = iso-32000-1_2008
        printer-dns-sd-name (nameWithoutLanguage) = Canon MF657Cdw
        printer-firmware-name (nameWithoutLanguage) = Main Controller
        printer-firmware-string-version (textWithoutLanguage) = 05.07
        printer-firmware-version (octetString) = 0507\000\000\000\000\000\000\000\000\000\000\000\000
        media-col-supported (1setOf keyword) = media-size,media-bottom-margin,media-left-margin,media-right-margin,media-top-margin,media-type,media-source,media-source-properties
        media-size-supported (1setOf collection) = {x-dimension=21000 y-dimension=29700},{x-dimension=18200 y-dimension=25700},{x-dimension=14800 y-dimension=21000},{x-dimension=21590 y-dimension=35560},{x-dimension=21590 y-dimension=27940},{x-dimension=13970 y-dimension=21590},{x-dimension=18415 y-dimension=26670},{x-dimension=21590 y-dimension=31750},{x-dimension=21590 y-dimension=35500},{x-dimension=21590 y-dimension=34036},{x-dimension=20320 y-dimension=25400},{x-dimension=20320 y-dimension=33020},{x-dimension=20570 y-dimension=33780},{x-dimension=21590 y-dimension=33020},{x-dimension=21500 y-dimension=34500},{x-dimension=7620 y-dimension=12700},{x-dimension=10477 y-dimension=24130},{x-dimension=9842 y-dimension=19050},{x-dimension=16200 y-dimension=22900},{x-dimension=11000 y-dimension=22000},{x-dimension=7620-21600 y-dimension=12700-35560}
        job-creation-attributes-supported (1setOf keyword) = copies,finishings,media,orientation-requested,output-bin,print-quality,printer-resolution,sides,media-col,output-mode,print-color-mode,ipp-attribute-fidelity,job-name,finishings-col,multiple-document-handling,page-ranges
        media-col-default (collection) = {media-size={x-dimension=21000 y-dimension=29700} media-bottom-margin=0 media-left-margin=0 media-right-margin=0 media-top-margin=0 media-type=auto media-source=tray-1 media-source-properties={media-source-feed-direction=short-edge-first media-source-feed-orientation=3}}
        print-color-mode-default (keyword) = auto
        print-color-mode-supported (1setOf keyword) = auto,color,monochrome,auto-monochrome
        printer-geo-location (uri) = geo:0.000000,0.000000
        page-ranges-supported (boolean) = true
        multiple-operation-time-out (integer) = 60
        print-scaling-default (keyword) = auto
        print-scaling-supported (1setOf keyword) = auto,auto-fit,fill,fit,none
        print-content-optimize-default (keyword) = auto
        print-content-optimize-supported (keyword) = auto
        multiple-document-handling-default (keyword) = separate-documents-collated-copies
        multiple-document-handling-supported (1setOf keyword) = separate-documents-collated-copies,separate-documents-uncollated-copies
        multiple-operation-time-out-action (keyword) = abort-job
        printer-config-change-date-time (dateTime) = 2025-05-05T17:46:53+0200
        printer-state-change-date-time (dateTime) = 2025-05-05T18:29:34+0200
        printer-state-change-time (integer) = 1746462574
        document-format-preferred (mimeMediaType) = application/pdf
        printer-current-time (dateTime) = 2025-05-05T18:29:34+0200
        printer-strings-languages-supported (naturalLanguage) = en
        printer-strings-uri (no-value) = no-value
        job-ids-supported (boolean) = true
        which-jobs-supported (1setOf keyword) = completed,not-completed
        finishings-default (enum) = none
        finishings-supported (enum) = none
        identify-actions-default (keyword) = flash
        identify-actions-supported (1setOf keyword) = flash,sound
        media-col-ready (1setOf collection) = {media-size={x-dimension=21000 y-dimension=29700} media-bottom-margin=0 media-left-margin=0 media-right-margin=0 media-top-margin=0 media-type=auto media-source=tray-1 media-source-properties={media-source-feed-direction=short-edge-first media-source-feed-orientation=3}},{media-size={x-dimension=21000 y-dimension=29700} media-bottom-margin=500 media-left-margin=500 media-right-margin=500 media-top-margin=500 media-type=auto media-source=tray-1 media-source-properties={media-source-feed-direction=short-edge-first media-source-feed-orientation=3}}
        media-ready (keyword) = iso_a4_210x297mm
        output-bin-default (keyword) = face-down
        output-bin-supported (keyword) = face-down
        pages-per-minute (integer) = 21
        pages-per-minute-color (integer) = 21
        printer-input-tray (1setOf octetString) = type=other;mediafeed=0;mediaxfeed=0;maxcapacity=1;level=0;status=3;name=auto;,type=sheetFeedAutoNonRemovableTray;mediafeed=0;mediaxfeed=0;maxcapacity=1;level=0;status=3;name=Stack\ Bypass;,type=sheetFeedAutoRemovableTray;mediafeed=29700;mediaxfeed=21000;maxcapacity=150;level=150;status=3;name=Drawer1;
        printer-output-tray (octetString) = type=unRemovableBin;maxcapacity=100;remaining=-2;status=5;name=Tray1;stackingorder=firstToLast;pagedelivery=faceDown;
        printer-supply-info-uri (uri) = http://prt:80/airprint.html
        sides-default (keyword) = one-sided
        sides-supported (1setOf keyword) = one-sided,two-sided-long-edge,two-sided-short-edge
        number-up-default (integer) = 1
        number-up-supported (1setOf integer) = 1,2,4,6,8,9,16
        presentation-direction-number-up-default (keyword) = toright-tobottom
        presentation-direction-number-up-supported (1setOf keyword) = toright-tobottom,toleft-tobottom
        landscape-orientation-requested-preferred (enum) = 4
        marker-colors (1setOf nameWithoutLanguage) = #000000,#00FFFF,#FF00FF,#FFFF00
        marker-high-levels (1setOf integer) = 100,100,100,100
        marker-levels (1setOf integer) = 71,75,75,74
        marker-low-levels (1setOf integer) = 7,7,7,7
        marker-names (1setOf nameWithoutLanguage) = Canon Cartridge 067 Black Toner,Canon Cartridge 067 Cyan Toner,Canon Cartridge 067 Magenta To,Canon Cartridge 067 Yellow Ton
        marker-types (1setOf keyword) = toner,toner,toner,toner
        media-source-supported (1setOf keyword) = auto,by-pass-tray,tray-1
        media-type-supported (1setOf keyword) = auto,stationery,stationery-lightweight,stationery-heavyweight,envelope,labels
        output-mode-default (keyword) = auto
        output-mode-supported (1setOf keyword) = auto,monochrome,auto-monochrome,color
        pdf-k-octets-supported (rangeOfInteger) = 0-256000
        printer-kind (1setOf keyword) = document,envelope,postcard
        finishings-col-default (no-value) = no-value
        finishings-col-supported (keyword) = finishing-template
        finishings-ready (enum) = none
        finishing-template-supported (keyword) = none
        job-pages-per-set-supported (boolean) = true
        overrides-supported (1setOf keyword) = media,media-col,document-numbers,pages
        pwg-raster-document-sheet-back (keyword) = normal
        pwg-raster-document-resolution-supported (resolution) = 300dpi
        pwg-raster-document-type-supported (1setOf keyword) = srgb_8,sgray_8,rgb_8
        mopria-certified (textWithoutLanguage) = 2.1
        print_wfds (nameWithoutLanguage) = T
        media-col-database (1setOf collection) =         "attributes-natural-language": Bad naturalLanguage value "en-  " - bad characters (RFC 8011 section 5.1.9).
        "generated-natural-language-supported": Bad naturalLanguage value "en-  " - bad characters (RFC 8011 section 5.1.9).
        "natural-language-configured": Bad naturalLanguage value "en-  " - bad characters (RFC 8011 section 5.1.9).
```

* CUPS `error_log` file while following *To Reproduce* steps above: 
[cups-error_log.txt](https://github.com/user-attachments/files/20039475/cups-error_log.txt)

Hope this gets fixed. Same issue with my Canon MF275dw.

Canon mf744cdw as well unfortunatelly

As far as I can tell, this is a Canon firmware issue. They're reporting that `naturalLanguage` attribute as `en-  ` (the letters 'en', a dash, and two spaces). This seems to be an invalid value per RFC 5646.

I made a two-line change in [my fork](https://github.com/Pippadi/cups/tree/canonfix) of CUPS to work around this. `ipptool` fetches all the attributes without an error now.

I'm still figuring out how to get `cupsd` compiled from source to work (very new to this). If I get a successful print with IPP Everywhere, I'll open a PR.

@Pippadi Stumbled upon the IPP problem, my AI told me the naturalLanguage issue, and a quick google found your post. You're amazing.

@Pippadi please report this issue to Canon, they might (and should) fix it in the newer firmware versions.

I wrote their customer support, but they didn't understand the problem (kept telling me to send the printer in for repair). I [posted](https://community.usa.canon.com/t5/Office-Printers/Possible-IPP-Everywhere-firmware-bug-on-MF275dw-and-other-models/td-p/580888) on their official forum, and later sent feedback through their website and asked them to review my ticket. No dice. 

I give up.

I do encourage you all to reach out though. Hopefully one of us lives in a more helpful support region.